.mySwiper{
    width: 75%;
    height: 20vh;
    .swiperSlider{
        position: relative;
        h3{
            position: absolute;
            // z-index: 2;
            color: red;
            font-size: 20px;
            top: 0;
            left: 0;
        }
        img{
            width: 100%;
        }
    }
}